.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 50%;
  padding: 10px;
  box-sizing: border-box;
}
.shop {
  flex: 25%;
  padding: 10px;
  box-sizing: border-box;
}
.bigcookie {
  border-radius: 50%;
  background-image: "cookie.png";
  background-size: cover;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
}

